layout python3

export FLASK_ENV=development
export FLASK_APP=application.py

export BROKER_USERNAME=user
export BROKER_PASSWORD=password
export BROKER_HOSTNAME=localhost
export BROKER_PORT=5672

export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=dbpw
export PG_HOST=localhost
export PG_PORT=5432
export POSTGRES_DB=feedaggregator
